fa-star-o{
    color: beige;
        margin: 0;
        padding: 0;
}

fa-star-o.filled{
    color: yellow;
}





form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}


.container {
    padding: 16px;
}


span.psw {
    float: right;
    padding-top: 16px;
}



    .cancelbtn {
        width: 100%;
    }
}
#rateText {
  text-align:right;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > star.button.active,
.rating > star.button:hover,
.rating > star.button:hover ~ star.button {
  color: #FFFF00;
  cursor: default;
}


/*for the bin */
button.ui-button-icon-only
{
    width: 32px !important;
    height: 32px !important;
}
